@charset "UTF-8";
/* CSS Document */

#Title{
	font-size: 50px;
}
#center{
	padding-left: 500px;
	padding-top: 250px;
}
#Btn{
	float: left;
	margin-left: 22px;
}
#Textbox{
	float: left;
}
#confirm{
	float: left;
}
#arrow{
	padding-top: 50px;
	z-index: 2;
}